img {
    image-rendering: pixelated;
}

#game-screen {
    position: relative;
    margin-top: 180px;
    height: 512px;
}
#background-repeat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-repeat: repeat;
    background-image: url("../assets/sprites/backgrounds/background-day.png");
}
#game-content {
    position: relative;
    width: 288px;
    height: 512px;
}
.game-element {
    position: absolute;
}
#max-score-box, #score-box {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: opacity ease 0.6s;
    transition-delay: 0.2s;
}
#max-score-box {
    z-index: 2;
    left: 15px;
    top: 15px;
    align-items: center;
}
#max-score-img {
    margin-right: 5px;
}
#max-score-numbers {
    height: 35px;
}
#max-score-numbers * {
    margin-right: -4px;
}
#score-box {
    margin-top: -80vh;
    width: 100vw;
    height: 7.5vh;
}
#bird {
    animation: birdwave 0.5s ease-in-out infinite alternate, bird-appearing 0.4s linear;
}
#bird, #bird-img {
    width: 52px;
    height: 36.7px;
}
.bird-jumping {
    transition: transform 0.25s;
    transform: rotate(-30deg);
}
.bird-falling-start {
  transition: transform 0.5s;
  transform: rotate(-10deg);
}
.bird-falling {
    transition: transform 0.6s ease-in-out;
    transform: rotate(80deg);
}
#initial-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease 0.6s;
}
#game-title {
    position: relative;
    width: 250px;
    margin-top: 100px;
    margin-bottom: 35px;
}
#get-ready {
    width: 170px;
    margin-bottom: 50px;
}
#click {
    position: absolute;
    bottom: -160px;
}

#pipe-spawn{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.pipe-box {
    right: -170px;
    margin-top: -390px;
    display: flex;
    flex-direction: column;
    animation: pipeloop 3.5s linear infinite;
}
#pipe-1 {
    animation-delay: 1.75s;
}
#pipe-2 {
    animation-delay: 3.50s;
}
.pipe {
    width: 85px;
}
.pipe-top {
    transform: rotate(180deg);
}
.space-between-pipes {
    height: 160px;
    width: 50%;
    align-self: flex-end;
}

#bg-floor {
    bottom: 0;
    left: -337px;
    height: 112px;
    width: 220vw;
    background-repeat: repeat;
    background-image: url("../assets/sprites/colliders/base.png");
    animation: floorloop 2.1s linear infinite;
}
#floor-bottom {
    background-color: #dfd996;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#dev-github {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    bottom: 20px;
    left: 20px;
    width: 100px;
}
#dev-github img {
    border-radius: 4px;
    width: 28px;
    margin-right: 4px;
}
#dev-github span {
    max-width: 150px;
    margin-left: 4px;
    color: black;
    font-size: 10px;
    letter-spacing: 0.5px;
}

#game-over-screen {
    visibility: hidden;
    opacity: 0%;
    
    background-color: rgba(0, 0, 0, 0.308);
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    transition: opacity 1.2s ease;
    transition-delay: 0.5s;
}
#game-over-img {
    position: absolute;
    width: 250px;
    margin-top: 140px;
    animation: game-over-img-appearing 0.4s ease-in-out;
    animation-play-state: paused;
}
#game-over-modal {
    position: absolute;
    width: 266px;
    height: 160px;
    margin-top: 245px;
    display: flex;
    animation: modal-appearing 0.5s ease-in-out;
    animation-play-state: paused;
}
#game-over-modal img {
    width: 100%;
    height: 100%;
}
.modal-score-box {
    color: #D7A84C;
    text-shadow: #f4EEA4 0 2px;
    position: absolute;
    top: 32%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal-score {
    left: 7px;
}
#modal-best {
    right: 7px;
}
.score-figure {
    margin-top: 10px;
    display: flex;
}
#restart-button {
    opacity: 0;
    color: #FFFFFF;
    text-shadow: #BF4E01 0 2px;
    background-color: black;
    position: absolute;
    width: 150px;
    height: 50px;
    margin-top: 435px;
    display: grid;
    place-items: center;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
}
#restart-button:active img, #restart-button:active p {
    opacity: 70%;
}
#restart-button img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#restart-button p {
    position: absolute;
}

@keyframes bird-appearing {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes birdwave {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(20%);
    }
}

@keyframes pipeloop {
    from {
        right: -170px;
    }
    to {
        right: 100%;
    }
}

@keyframes floorloop {
    0% {
       margin-left: -336px;
    }
    100% {
       margin-left: -672px;
    }
}

@keyframes game-over-img-appearing {
    0% {
        margin-top: 140px;
    }
    50% {
        margin-top: 130px;
    }
    100% {
        margin-top: 140px;
    }
}

@keyframes modal-appearing {
    from {
        margin-top: 100vh;
    }
    to {
        margin-top: 245px;
    }
}