#game-screen {
    position: relative;
    
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
}

#game-content {
    position: relative;
    margin-top: 180px;
    width: 288px;
    height: var(--game-height);
}

#background-repeat {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-repeat: repeat-x;
    background-image: var(--bg-time-of-day);
}

#bg-floor {
    top: var(--game-height);
    height: 112px;
    width: 100vw;
    overflow: hidden;
}

#floor-front{
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;

    background-repeat: repeat;
    background-image: var(--img-front-base);
}

#floor-back{
    position: absolute;
    z-index: 0;

    height: 56px;
    width: 100%;


    background-repeat: repeat;
    background-image: var(--img-back-base);   
    animation: fakeloop 1s linear infinite;
}

@keyframes fakeloop{
    from {
        transform: translateY(0px);  

    }to{
        transform: translateY(-26px);  

    }
}