:root{
	--img-front-base: url("../assets/sprites/colliders/base-front.png") ;
	--img-back-base: url("../assets/sprites/colliders/base-back.png") ;

	--img-pipe-green: url("../assets/sprites/colliders/pipe-green.png");
}